# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/upgrade
web/app/uploads/cache/
web/app/uploads/**/*-[0-9]*x[0-9]*.*
web/app/uploads/**/*.log
!web/app/uploads/.gitkeep
web/app/webp-express
!web/app/webp-express/.gitkeep
web/app/cache
!web/app/cache/.htaccess

# WordPress
web/wp
# web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
